.menu{
  background-color: rgb(63, 70, 77);
  padding: 15px;
  border-right:  3px solid black;

}
.menu li
{
  display:inline;
}
.menu a, .menu p
{
  text-decoration: none;
  color:#eaefef;
  display: inline-block;
  padding:  25px;
  height: 10px;
  border-radius: 5px;
  /*border-bottom: 5px solid white;*/
}
.menu a:hover
{
  background: rgba(255, 255, 255, 0.747);
  color:black;
}
#loggedUser{
  color: #dabfa4;
}

#logout{
  position: relative;
  float: right; 
}

.header-img-container{
  width: 100%;
}

#video{
  height: 10%;
  width: inherit;

}

.favorImageContainer {
    position: relative;
    width: 30%;
  }
  
  /* Make the image responsive */
  .favorImageContainer img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .favorImageContainer .removeFavButton {
    position: absolute;
    top: 20%;
    right: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .favorImageContainer .removeFavButton:hover {
    background-color: pink;
  }

  /* design rate in modal window */
  .rate {
      float: left;
      height: 46px;
      padding: 0 10px;
  }
  .rate:not(:checked) > input {
      position:absolute;
      top:-9999px;
  }
  .rate:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
  }
  .rate:not(:checked) > label:before {
      content: '★ ';
  }
  .rate > input:checked ~ label {
      color: rgb(228, 144, 176);    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
      color: rgb(228, 144, 176);  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
      color: rgb(228, 144, 176);
  }

  .modal-body{
    position: relative;
    display: table; /* <-- This makes the trick */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

